:root{
    --gris: ;
    --globe: rgb(0, 160, 0);
    --black: black;
    --blanc: white;
}

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: none;
}
header{
    margin-bottom: 15px;
}

header .head-top h1{
    text-align: center;
    color: var(--globe);
}

header .head-bottom{
    margin: 0 20px;
    background: var(--black);
    border-radius: 25px;

}
header .head-bottom ul{
    display: flex;
    padding:  10px 0;
}

header .head-bottom ul li{
    margin-left: 20px;
}

header .head-bottom ul li a{
    color: var(--blanc);
}

.log{
    height: 20px;
    width: 20px;
    background: var(--globe);
    border-radius: 0 50% 50% 0;
}

main{
    padding: 10px 20px;
    display: flex;
}

main .left{
    width: 70vw;
}

.space-foot{
    margin-bottom: 20px;

}

footer{
    display: flex;
    margin: 0 0 10px 300px;
}

.foot{
    margin-left: 30px;
    padding: 10px 15px ;
    border-radius: 25px;
    background: var(--globe);
}